*{
    margin: 0;
    padding: 0%;
    font-family: Montserrat;
    background-color: #24292F;
    color: #FFF;
}
header{
  position: sticky;
  top: 0;
  z-index: 100;
}
footer .main_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 2%;
    margin-top: 2%;
    background-color: #0D1117;
    text-align: center;
}
footer .main_footer p, footer .main_footer p a{
    background-color: #0D1117;
    line-height: 1.5em;
}
.col_2_2 #Social_Title h3{
    background-color: #0D1117;
    padding: 2%;
    border-style: solid;
    border-radius: 5px;
    border-top: 0px;
    border-color: #6B48FF;
    margin-top: 3%;
}
.col_2_2 .Social_row{
    display: flex;
    padding: 4%;
}
.col_2_2 .Social_row .Social_row1{
    width: 50%;
    margin-right: 5%;
}
.col_2_2 .Social_row .Social_row1 a{
    display: flex;
    align-items: center;
    background-color: #6B48FF;
    padding: 4%;
    width: 100%;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 5%;
}

/* Gallery css*/
.gallery {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 5px 0px;
  justify-content: center;
}

.image {
  overflow: hidden;
  width: 33%;
}

.image img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.image img:hover {
  transform: scale(1.1);
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.close-button {
  position: absolute;
  top: 20%;
  right: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 101;
  background-color: #6948ff46;
  opacity: 1;
  padding: .4% 1%;
  border-radius: 50px;
}
.Gallery_button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.Gallery_button button{
  width: 30%;
  padding: 2% 3%;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}




/* Common styles for both mobile and desktop */
.My_gallery_main {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}

.gallery_main {
  overflow: hidden;
}

.image_main img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.image_main img:hover {
  transform: scale(1.1);
}

.lightbox_main {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.lightbox_main img {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.close-button_main {
  position: absolute;
  top: 20%;
  right: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 101;
  background-color: #6948ff46;
  opacity: 1;
  padding: .4% 1%;
  border-radius: 50px;
}
.Main_Logo_1 {
  opacity: 0; /* Initially hide the image */
  transform: translateY(10%); /* Move the image downward */
  transition: opacity 1s ease, transform 1s ease; /* Apply transitions */
}

.Main_Logo_1.show {
  opacity: 1; /* Show the image */
  transform: translateY(0); /* Move the image upward */
}
