@media screen and (max-width: 1279px){
    .col_1{
        background-color: #24292F;
        padding: .7% 0;
        display: flex;
    }
    .col_1_1{
        display: flex;
        width: 30%;
    }
    .col_1_1 a{
        width: 20%;
    }
    .col_1_1 a img{
        width: 100%;
    }
    .col_1_1 h1{
        color: white;
        padding: 7% 2% 2% 2%;
        font-size: 26px;
    }
    .col_1_2{
        width: 80%;
    }
    .col_1_2 p{
        color: white;
        font-size: 16px;
        text-align: center;
        padding: 2% 1% 1% 1%;
    }
    .main_menu{
       background-color: #6B48FF;
       margin: 0;
       padding: auto;
    }
    .main_menu ul{
        list-style: none;
        margin: 0;
        padding: .5% 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        background-color: #6B48FF;
    }
    .main_menu ul li{
        display: inline-block;
        padding: 0 15px 0 15px;
        text-align: center;
        font-size: 18px;
        background-color: #6B48FF;
    }
    .main_menu ul li a{
        text-decoration: none;
        color: white;
        text-align: center;
        background-color: #6B48FF;
    }
    .main_menu ul li a:hover{
        background-color: white;
        color: #6B48FF;
        padding: 1% 10%;
        border-radius: 2px;
    }
    .main_menu ul li a:active{
        background-color: white;
        color: #6B48FF;
        padding: 1% 8%;
        border-radius: 2px;
    }
    .col_2{
        display: flex;
        margin-top: 3%;
        padding: 0 5%;
    }
    .col_2_1{
        width: 70%;
    }
    .blog_box{
        display: flex;
        background-color: #0D1117;
        padding: 1%;
        margin: 1% 1% 5% 1%;
        border-radius: 5px;
    }
    .Under_blog_box1{
        width: 30%;
        background-color: #0D1117;
    }
    .Under_blog_box1 img{
        width: 100%;
        background-color: #0D1117;
        aspect-ratio: 1 / 1;
    }
    .Under_blog_box2{
        width: 70%;
        padding: 2%;
        background-color: #0D1117;
    }
    .Under_blog_box2 h3{
        font-size: 22px;
        font-weight: 700;
        background-color: #0D1117;
        color: white;
        padding-bottom: 2%;
    }
    .Under_blog_box2 p{
        font-size: 16px;
        font-weight: 500;
        background-color: #0D1117;
        color: white;
    }
    .Under_blog_box2 button{
        background-color: #6B48FF;
        border: none;
        border-radius: 2px;
        padding: 2%;
        margin-top: 3%;
        font-size: 14px;
        color: #ffffff;
        cursor: pointer;
    }
    .Under_blog_box2 button:hover{
        background-color: #ffffff;
        color: #6B48FF;
    }
    .col_2_2{
        width: 30%;
    }
    .Mobile_head{
        display:none;
    }
}
@media screen and (max-width: 769px){
    .main_menu ul{
        width: 50%;
    }
}