@media screen and (max-width: 715px){
    .col_1, .main_menu{
        display: none;
    }
    .col_2{
        display: block;
    }
    .col_2_1{
        width: 100%;
    }
    .col_2_2{
        width: 100%;
    }
    .Mobile_head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--forth-color);
        color: var(--secondary-color);
        padding: 0;
    }
    .Mobile_head .Mobile_logo{
        display: flex;
        width: 90%;
        background-color: var(--forth-color);
        margin: 0px;
        padding: 0;
    }
    .Mobile_head .Mobile_logo .Main_Logo_mb_1{
        width: 20%;
        margin: 0px;
        padding: 0px;
        vertical-align: middle;
        background-color: transparent;
    }
    .Mobile_head .Mobile_logo a{
        background-color: transparent;
    }
    .Mobile_nav_menu{
        width: 10%;
        background-color: var(--forth-color);
        padding: 3.5%;
    }
    .Mobile_nav_menu nav{
        position: fixed;
        top: 12%;
        left: 50%;
        transform: translate(-50%, 0%);
        background-color: var(--primary-color);
        color: var(--secondary-color);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        display: none;
        width: 150px;
    }
    
    .Mobile_nav_menu nav.active {
        display: block !important;
    }
    
    .Mobile_nav_menu nav ul {
        list-style: none;
        text-align: center;
    }
    
    .Mobile_nav_menu ul li {
        margin: 10px 0;
    }
    
    .Mobile_nav_menu ul li a {
        color: var(--secondary-color);
        text-decoration: none;
    }
    .MenuButton {
        display: block;
        background: none;
        border: none;
        font-size: 1.5rem;
        color: var(--fith-color);
        cursor: pointer;
    }
    .blog_box{
        display: block;
        width: 100%;
    }
    .Under_blog_box1{
        width: 100%;
    }
    .Under_blog_box1 img{
        aspect-ratio: 4/3;
    }
    .Under_blog_box2{
        width: 90%;
    }
    .Under_blog_box2 h3{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        padding-bottom: 2%;
    }
    .Under_blog_box2 p{
        font-size: 14px;
        font-weight: 400;
    }
    .Under_blog_box2 button{
        font-size: 12px;
    }
      .close-button_main {
        top: 10%;
        right: 20px;
      }
      .close-button {
        top: 10%;
        right: 20px;
        z-index: 101;
        padding: 0.4% 3%;
    }
    .Main_Logo_mb_1 {
        opacity: 0; /* Initially hide the image */
        transform: translateY(10%); /* Move the image downward */
        transition: opacity 1s ease, transform 1s ease; /* Apply transitions */
        background-color: transparent;
      }
      
      .Main_Logo_mb_1.show_mb {
        opacity: 1; /* Show the image */
        transform: translateY(0); /* Move the image upward */
      }
}
#myThemeIcon{
    display: none;
}
#myThemeIcon_mob{
    width: 30px !important;
    height: 30px !important;
    align-items: center;
    text-align: center;
    background: transparent;
    padding-top: 4%;
}
